.Content{
  text-align: center;
  background-color: #979797;
  align-items: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.theButton{
  width: 200px;
  color: red;
}

.theInputs{
  margin: 10px;
}

.theOptionsParagraphDiv{
    display: flex;
    flex-direction: row;
}

.theOptionsParagraph{
    margin-left: 30px;
    margin-right: 30px;
}

.pokeContent{
  display: flex;
  margin: 5px;
  flex-direction: row;

  justify-content: center;
  padding: 10px;
  color: white;
}

.subPokeContent1{
  background-color: #2B2B2B;
  min-width: 30vh;
  min-height: 30vh;
  margin: 5px;
}

.subPokeContent2{
  background-color: #2B2B2B;
  min-width: 30vh;
  min-height: 30vh;
  margin: 5px;
}
.subPokeContent3{
  background-color: #2B2B2B;
  min-width: 30vh;
  min-height: 30vh;
  margin: 5px;
}
